.header{
    background-color: black;
    color: white;
    font-family: 'Big Shoulders Inline Display';
    font-size: xx-large;
    padding: 30px 0px;
    flex: none;
}
.header p{
    margin: 0px 0px 0px 100px;
    display:flex;

}
.header b{
    margin:0px;
    padding:0px;
}